# Android Studio / IntelliJ
.idea/
*.iml
.gradle/
build/
local.properties
.DS_Store

# Gradle build output
*/build/
app/build/
captures/

# Log files
*.log

# OS files
Thumbs.db
*.tmp

# API
secrets.properties

# APKs / bundles
*.apk
*.aab

# Default gitignore
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
.externalNativeBuild
.cxx

